<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>GAME DIW</title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="../styles/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="../styles/index.css">
</head>
<body>
  <div class="container-fluid">
    <!-- NAVBAR DE LA PAGINA !-->
    <div class="row">
      <div id="barra" class="col-xs-12">
        <nav class="navbar navbar-default">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html"><img class="navbar-brand" src="../resources/img/GameCentreLogo.png"></img></a>
          </div>
          <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
              <li><a href="empresa.html"><span class="glyphicon glyphicon-briefcase"></span> Empresa</a></li>
              <li><a href="noticias.html"><span class="gglyphicon glyphicon-bookmark "></span> Noticias</a></li>
              <li><a href="contacto.html"><span class="glyphicon glyphicon-user"></span> Contacto</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <span class ="glyphicon glyphicon-shopping-cart"></span>Productos
                  <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li><a href="productos.html">Ps3</a></li>
                  <li><a href="productos.html">Ps4</a></li>
                  <li><a href="productos.html">XBOX 360</a></li>
                </ul>
              </li>
            </ul>
            <form class="navbar-form navbar-right" role="search">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Buscar">
              </div>
              <button type="submit" class="btn btn-default"> <span class="glyphicon glyphicon-search"></span> Buscar</button>
            </form>
            <ul class="nav navbar-nav navbar-right">
            </ul>
          </div>
        </nav>
      </div>
    </div>
    <!-- CONTENEDOR CON EL QUE SE VA A JUGAR EL CONTENIDO!-->
    <div id="contenidoPal" class="row">
      <div class="col-xs-10 col-xs-offset-1">
		<!--Fila para la informacion de la empresa-->
        <div id="fConsulta" class="row">
			<div id="fCoTitulo" class="row">
				<div class="col-xs-10 col-xs-offset-1">
					<h1>La Empresa</h1>
				</div>
			</div>
			<div id="fEmpresa" class="row">
				<div class="col-xs-12 col-sm-8">
					<h4>GameCenter nacio de la necesidad de dar a la gente un sitio donde encontrar esos productos dificiles de encontrar. 
					Fue un trabajo duro crear un hueco para nosotros entre una competencia brutal, al final, despues de mucho trabajo, 
					hoy somos de los primeros en videojuegos clasicos para todas las plataforma.</h4>
				</div>
				<div class="col-xs-0 col-sm-4">
					<img src="../resources/img/GameCentreLogo1.png" class="img-circle" alt="GameCenter logo">
				</div>
			</div>			
		</div>
		<!--Fila para los servicios-->
		<div id="fServicios" class="row">
			<div id="fSeTitulo" class="row">
				<div class="col-xs-10 col-xs-offset-1">
					<h1>Principales Servicios que ofertamos:</h1>					
				</div>
			</div>
			<div id="fServicios" class="row">
				<div class="col-xs-10">
					<dl class="dl-horizontal">
					  <dt>Asesoria:</dt>
					  <dd>Te aconsejamos el juego que mas se adapta a tus gustos..</dd>
					  <dt>Compra de videojuegos antiguos:</dt>
					  <dd>Te compramos los juegos que ya no usas.</dd>
					  <dd>Para que cojan polvo en la estanteria mejor unos euros en el bolsillo.</dd>
					  <dt>Venta de videojuegos:</dt>
					  <dd>Vendemos juegos para todas las plataformas y generos. Encontraras lo que necesitas sin duda.</dd>
					  <dt>Compra/Venta de accesorios para la diversion:</dt>
					  <dd>Vendemos y comprarmos toda clase de mandos, joysticks, teclados, ratosnes, volantes y 
					  todos aquello que necesites para disfrutas de tus horas de juego. .</dd>
					</dl>
				</div>
			</div>
		</div>
      </div>
    </div>
    <!-- CONTENEDOR PARA EL FOOTER!-->
    <div id="footer" class="row">
      <div class="col-xs-12">
        <footer>
          <a class="social-icons" href="#">
            <i class="fa fa-facebook-square"></i>
          </a>
          <a class="social-icons" href="#">
            <i class="fa fa-instagram"></i>
          </a>
          <a class="social-icons" href="#">
            <i class="fa fa-twitter-square"></i>
          </a>
          <a class="social-icons" href="#">
            <i class="fa fa-pinterest-square"></i>
          </a>
          <a class="social-icons" href="#">
            <i class="fa fa-google-plus-square"></i>
          </a>
          <a class="social-icons" href="#">
            <i class="fa fa-youtube-square"></i>
          </a>
          <p>© By Game DIW 2017</p>
        </footer>
      </div>
    </div>
  </div>
<!-- jQuery -->
<script src="http://code.jquery.com/jquery-latest.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>
